
main {
    display: flex;
  
}
.comic-contenedor {
    height: 100vh;
    background-color: #404040;
    max-width: 300px;
}
.welcome-page {
    height: 100vh;
}

.viñeta-contendor {
    display: flex;
    height: fit-content;
    flex-direction: column;
    position: relative;
    justify-content: space-between;
}

.superposition {
    display: flex;
    justify-content: space-between;
}

.cyberpooh-title{
    object-fit: contain;
    width: 100%;
}
.personaje01{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1; 
}
.ciudad-silueta {
    object-fit: cover;
    width: 100%;
}



@media screen  and (max-width: 600px ) {

}